@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/Lora.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ysabeau';
  src: url('../assets/fonts/Ysabeau.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}